{% extends 'base.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date_debut</th>
            <th>Date_retour</th>
            <th>Prix</th>
            <th>Client</th>
            <th>Voiture</th>

            <th>actions</th>

        </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.dateDebut ? location.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ location.dateRetour ? location.dateRetour|date('Y-m-d') : '' }}</td>
                <td>{{ location.prix }}</td>

                <td>{{ location.client.id }}</td>


                <td>{{ location.voiture.modele }}</td>
                <td>
                    <a href="{{ path('app_location_show', {'id': location.id}) }}">show</a>
                    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_location_new') }}">Create new</a>
{% endblock %}
