{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ location.id }}</td>
        </tr>
        <tr>
            <th>Date_debut</th>
            <td>{{ location.dateDebut ? location.dateDebut|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Date_retour</th>
            <td>{{ location.dateRetour ? location.dateRetour|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ location.prix }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('app_location_index') }}">back to list</a>

    <a href="{{ path('app_location_edit', {'id': location.id}) }}">edit</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
