<form method="post" action="{{ path('app_voiture_delete', {'id': voiture.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.id) }}">
    <button class="btn">Delete</button>
</form>
