{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <h1>Voiture</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ voiture.id }}</td>
        </tr>
        <tr>
            <th>Serie</th>
            <td>{{ voiture.serie }}</td>
        </tr>
        <tr>
            <th>Date_mise_en_marche</th>
            <td>{{ voiture.dateMiseEnMarche ? voiture.dateMiseEnMarche|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Modele</th>
            <td>{{ voiture.modele }}</td>
        </tr>
        <tr>
            <th>Prix_jour</th>
            <td>{{ voiture.prixJour }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_voiture_index') }}">back to list</a>

    <a href="{{ path('app_voiture_edit', {'id': voiture.id}) }}">edit</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
